@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;  
  padding: 20px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  margin-bottom: 28px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.playing {
  color: dodgerblue;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";  
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px; 
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;  
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}

.flag {
  width: 40px;
  height: 40px;
  margin: -10px 0 0 10px;
  position: relative;
}

.flag-en {
  background: url('../assets/svg/en.svg');

}

.flag-ru {
  background: url('../assets/svg/ru.svg');
}

.flag:hover {
  transform: scale(1.1);
  transition: all .3s;
  cursor: pointer;
}


.flag:not(hover) {
  transition: all .3s;
}

.footer-container {
  display: flex;
  flex-direction: row;
}

.settings {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 10px;
  left: 15px;
  background-image: "../assets/svg/settings/settings.svg";
}


.settings-ico {
 filter: invert();
 cursor: pointer;
}

.settings-ico:hover {
  transform: scale(1.06);
  transition: all .4s linear;
}

.settings-ico:not(hover) {
  transition: all .3s;
}

.settings-popup {
  position: absolute;
  left: 15px;
  width: auto;
  height: auto;
  bottom: 50px;
  background-color: rgba(15, 15, 15, 0.7);
  border: 1px solid #fff ;
  border-radius: 15px;
  
}

.settings-popup > h2 {
  text-align: center;
  padding: 5px 15px;
}

.settings-list {
  padding: 10px 15px;
  list-style: none;
  text-align: left;
  font-size: 20px;
}

.settings-list-item {
  padding-bottom: 10px;
  display: flex;
}

.settings-list-item:hover {
  transition: all .3s;
  transform: scale(1.1);
  cursor: pointer;
}

.settings-list-item:not(hover) {
  transition: all .3s;
  transform: scale(1);
}

.ico {
 width: 30px;
 height: 30px;
 position: relative;
 margin-right: 15px;
}

.transparent {
  transition: all .9s;
  opacity: 0;
}

.visible {
  transition: all .9s;
  opacity: 1;
}


.photoHr {
  margin-top: 20px;
  margin-bottom: 10px;
}

.photo-radio {
  border: none;
  padding: 10px 0 15px 0;
}

.radio {
  margin-bottom: 15px;
}

.line-through {
  text-decoration: line-through;
}

.imgTemp {
  width: 500px;
  height: 700px;
  background-color: rgba(15, 15, 15, 0.7);
  position: absolute;
}